fastapi
uvicorn
python-multipart
pandas
numpy
scikit-learn
xgboost
lightgbm
matplotlib
seaborn
jinja2
pdfkit
langchain
langchain-core
langgraph
langchain-groq
langchain-google-genai
langchain-openai
python-dotenv
pydantic
joblib
markdown2
chardet
openpyxl
xlrd
pyarrow
scipy
optuna
shap